:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --gray-color: #E7E7E7;
    --primary-color: #b9f6b2;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

#container {}


/* Container Title */

.container_title {
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-align: center;
}

.container_title span {
    position: relative;
    color: #4F4F4F;
    padding: 0 20px;
}

.container_title span::before {
    position: absolute;
    width: 140px;
    height: 2px;
    background: #4F4F4F;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
}

.container_title span::after {
    position: absolute;
    width: 140px;
    height: 2px;
    background: #4F4F4F;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}

.order__btn {
    background-color: #b9f6b2;
    border: unset;
    border-radius: 20px;
    padding: 16px;
    width: 12em;
    height: 20px;
    line-height: 0;
    font-size: 1.3rem;
    font-weight: 500;
}


/* More Button */

.more__link {
    text-decoration: none;
}

.more__button {
    width: 100%;
}

.more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 40px;
    margin: 44px auto;
    width: 27em;
    height: 6em;
    background-color: #b9f6b2;
}

.more-btn:hover {
    box-shadow: 1px 1px 10px 1px rgba(148, 150, 148, 0.938);
}

.more-btn span {
    font-size: 17px;
    font-weight: 700;
}

.more-icon {
    position: relative;
    right: -32px;
    font-size: 35px;
    color: white;
}


/* Sub Banner */

.sub__banner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 17em;
    border-radius: 22px;
    margin: 20px auto;
}

.sub__banner-img {
    border-radius: 22px;
    width: 172em;
    max-height: 17em;
}

.youtube__icon {
    position: absolute;
    top: 28%;
    left: 40%;
    width: 20%;
}


/* Subscribe Button */

.youtube__subscribe {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.youtube__subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28em;
    height: 6em;
    border-radius: 999px;
    background-color: red;
}

.youtube__subscribe-btn:hover {
    box-shadow: 1px 1px 4px 2px rgba(150, 147, 147, 0.747);
}

.youtube__subscribe-content {
    font-size: 2.6rem;
    color: white;
    font-weight: 500;
}

.play__icon {
    position: relative;
    right: -1.2em;
    color: white;
    font-size: 4rem;
}


/* Modal */

.modal__container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__body {
    z-index: 1000;
    width: 69em;
    height: 40em;
    border-radius: 40px;
    background-color: white;
    margin: auto;
}

.login-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 22px 0 40px 0;
}

.form-input {
    text-align: center;
    width: 43em;
    height: 3em;
    justify-content: center;
    margin: 12px auto;
    border-radius: 50px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 2px 1px rgb(226, 223, 223);
}

.form-input:focus-within {
    cursor: pointer;
    outline: 2px solid var(--black-color);
}

.form-input input {
    width: 93%;
    height: 98%;
    border: none;
    margin-left: 12px;
    font-size: 1.6rem;
    outline: none;
    background-color: #f4f4f4;
}

.form-input input:hover {
    cursor: pointer;
}

.auth_account_custommer {
    display: flex;
    justify-content: center;
}

.auth-account-button {
    width: 30.5%;
    height: 3.5em;
    margin: 3px;
}

.auth-account-btn {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 58px;
    border: none;
    box-shadow: 1px 1px 2px 1px rgb(201, 196, 196);
    background-color: var(--while-color);
}

.signin-btn {
    background-color: var(--primary-color);
}

#forgot-pass {
    display: block;
    font-size: 1.5rem;
    color: rgb(97, 97, 224);
    margin-top: 20px;
    text-align: center;
}

#forgot-pass:hover {
    color: rgb(235, 139, 75);
    font-weight: 700;
}

.social-login-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 6px;
}

.social-btn-wrap {
    display: flex;
    justify-content: center;
}

.facebook__icon {
    width: 4em;
}

.google__icon {
    width: 6em;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}